.alert-top {
  position: absolute;
  top: -100%;
  transition: all .3s ease;
  z-index: 9999;
  width: 100%;
  left: 0;
  text-align: center;
  /* max-width: 1044px; */
}

.alert-top.active {
  top: 15px;
}